.Channel {
  height: 90vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

.Channel-heading {

}

.Channel-history {

}

.Channel-history ul {
  list-style: none;
  padding-left: 0px;
}

.Channel-history li {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.Channel form {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
}

.Channel input[type=text] {
  height: 100%;
}

.Channel input[type=submit] {
  height: 100%;
}
